@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu+Mono&family=Ubuntu+Sans:ital,wdth,wght@0,75..100,100..800;1,75..100,100..800&display=swap');

body {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
	margin: 1.2em 0 0.3em;
	font-size: 2.2em;
	color: hsl(140 89% 43% / 1);
}
h2 {
	margin: 0.5em 0 0.4em;
	font-size: 1.9em;
	color: hsl(350 100% 43% / 1);
}
h3 {
	margin: 0.4em 0 0.3em;
	font-size: 1.4em;
	color: hsl(202 100% 43% / 1);
}
h1:first-of-type {
	margin-top: 0;
}
td:nth-child(1) {
	color: hsl(233 40% 43% / 1);
}

.content {
	width: 210mm;
	margin: 10mm auto;
	padding: 15mm;
	box-sizing: border-box;
}
blockquote {
	font-size: 1.1em;
	font-weight: 200;
	text-align: right;
}
img {
	height: 1.5em;
}
a {
	color: hsl(170 13% 47% / 1);
	word-wrap:break-word;
	word-break: break-word; /*For chrome*/
}
img[alt="Drupal"], img[alt="NPM"] {
	height: 1.2em;
}
table {
	margin: 0 0 0.8em;
}
table, th, td {
	border: 0 none;
	border-collapse: collapse;
}
td {
	vertical-align: top;
	padding: 0.1em 0.3em;
}
td:nth-child(1) {
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
	padding-right: 0.5em;
}
td:nth-child(1)::after {
	content: ":";
}
col {
	width: auto !important;
}
#ProfilePicture {
	float: right;
	height: 13em;
	margin-left: 1em;
	width: 13em;
	background: #d8dad9;
}

.revision {
	text-align: right;
	margin-top: 0;
	font-family: "Ubuntu Mono", sans-serif;
	clear: both;
}

body {
	background: #020a15;
}

.content {
	background-color: #01050a;
	/* TODO: Adjust this colour. */
	color: #688782;
}

/* TODO: Adjust this 4 colours. */
tr.odd {
	background-color: #070b10;
}
tr.even {
	background-color: #05060a;
}
tr.odd td:nth-child(1) {
	background-color: #01060b;
}
tr.even td:nth-child(1) {
	background-color: #070b10;
}
td:nth-child(2) {
	font-family: "Ubuntu Mono", sans-serif;
}
