@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu+Mono&family=Ubuntu+Sans:ital,wdth,wght@0,75..100,100..800;1,75..100,100..800&display=swap');

/*
"Negre": #171421
Verd: #26a269
Blau fosc: #12488b
Vermell: #c01c28
Lila: #a347ba
Blanc: #d0cfcc
Cian: #2aa1b3  #66ebff
Taronja: #a2734c hsl(21 100% 64% / 1)

*/


html {
	background-color: #020a15;
}
body {
	font-family: "Ubuntu Sans", sans-serif;
	font-optical-sizing: auto;
	margin: 0;
	padding: 0;
	max-width: none;
}
blockquote {
	border: 0;
	color: hsl(21 100% 64% / 1);
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Ubuntu Condensed", sans-serif;
	font-weight: 400;
	font-style: normal;
}
h1 {
	margin: 1.2em 0 0.3em;
	font-size: 2.2em;
	color: hsl(144 93% 37% / 1);
}
h2 {
	margin: 0.5em 0 0.4em;
	font-size: 1.9em;
	color: hsl(356 77% 47% / 1);
}
h3 {
	margin: 0.4em 0 0.3em;
	font-size: 1.4em;
	color: hsl(213 100% 49% / 1);
}
h1:first-of-type {
	margin-top: 0;
}
td:nth-child(1) {
	color: hsl(288 64% 57% / 1);
}

.content {
	width: 210mm;
	margin: 10mm auto;
	padding: 15mm;
	box-sizing: border-box;
}
blockquote {
	font-size: 1.1em;
	font-weight: 200;
	text-align: right;
}
img {
	height: 1.5em;
}
a {
	color: #d0cfcc;
	word-wrap:break-word;
	word-break: break-word; /*For chrome*/
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img[alt="Drupal"], img[alt="NPM"] {
	height: 1.2em;
}
table {
	margin: 0 0 0.8em;
	display: inline-block;
	width: auto;
}
table:first-of-type {
	width: 68%;
}
tbody {
	border: 0 none;
}
table, th, td {
	border: 0 none;
	border-collapse: collapse;
}
td {
	vertical-align: top;
	padding: 0.1em 0.3em;
}
td:nth-child(1) {
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
	padding-right: 0.5em;
}
td:nth-child(1)::after {
	content: ":";
}
col {
	width: auto !important;
}
#ProfilePicture {
	float: right;
	height: 13em;
	margin-left: 0.5%;
	width: 31%;
	background: #d8dad9;
}

.revision {
	text-align: right;
	margin-top: 0;
	font-family: "Ubuntu Mono", sans-serif;
	clear: both;
}

body {
	background: #020a15;
}

.content {
	background-color: #01050a;
	color: #d0cfcc;
}

/* TODO: Adjust this 4 colours. */
tr.odd {
	background-color: #070b10;
}
tr.even {
	background-color: #05060a;
}
tr.odd td:nth-child(1) {
	background-color: #01060b;
}
tr.even td:nth-child(1) {
	background-color: #070b10;
}
td:nth-child(2) {
	font-family: "Ubuntu Mono", sans-serif;
}
