body, .content {
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
p {
	page-break-before: avoid;
	break-before: avoid;

	page-break-inside: avoid;
	break-inside: avoid;

	page-break-after: auto;
	break-after: auto;
}
h1, h2, h3, h4, h5, h6 {
	page-break-before: auto;
	break-before: auto;
	page-break-after: avoid;
	break-after: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

@page {
    size: auto;
    margin: 20mm;
}

#falk-artis-bay {
	margin-top: 0;
}