@media screen {

	body {
		background: #888;
	}

	.content {
		background-color: #01050a;
		color: hsl(170 13% 47% / 1);
	}
	path {
		animation-duration: 60s;
		animation-name: draw;
	}
	@keyframes draw {
		from {
			stroke-dasharray: 0 100;
		}

		to {
			stroke-dasharray: 100 0;
		}
	}

	tr.odd {
		background-color: #070b10;
	}
	tr.even {
		background-color: #05060a;
	}
	tr.odd td:nth-child(1) {
		background-color: #01060b;
	}
	tr.even td:nth-child(1) {
		background-color: #070b10;
	}

}